{% extends 'layouts/main.html' %}
{% block title %}勤怠記録{% endblock %}
{% block content %}

<p>{{ username.username }} の勤怠記録</p>

<table>
  <thead><tr><th>月日</th><th>出勤時刻</th><th>退勤時刻</th></tr></thead>
  <tbody>
{% for wh in wh_table %}
    <tr>
      {% if 'Sat' in wh.date %}<td id="sat">
      {% elif 'Sun' in wh.date %}<td id="sun">
      {% else %}<td>
      {% endif %}
        {{ wh.date }}
      </td>
      <td>{{ wh.begin }}</td>
      <td>{{ wh.end }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% if 'last' in request.path %}
<p><a href="{{ url_for('working_hours.dashboard', lineid=request.path.split('/')[2]) }}">今月の記録</a></p>
{% else %}
<p><a href="{{ url_for('working_hours.dashboard_last', lineid=request.path.split('/')[2]) }}">先月の記録</a></p>
{% endif %}

{% endblock %}
