{% extends 'layouts/main.html' %}
{% block title %}Welcome to yoshio.dev!{% endblock %}
{% block content %}

<p>{{ username.username }} の勤怠記録</p>

<table>
{% for wh in wh_table %}
  <tr>
    <td>{{ wh.date }}</td>
    <td>{{ wh.begin }}</td>
    <td>{{ wh.end }}</td>
  </tr>
{% endfor %}
</table>

{% if 'last' in request.path %}
<p><a href="{{ url_for('working_hours.dashboard', lineid=request.path.split('/')[2]) }}">今月の記録</a></p>
{% else %}
<p><a href="{{ url_for('working_hours.dashboard_last', lineid=request.path.split('/')[2]) }}">先月の記録</a></p>
{% endif %}

{% endblock %}
