[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pysnooper = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
line-bot-sdk = "*"
pytz = "*"

[requires]
python_version = "2.7"
