<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    </head>
    <body>
        <main>
            <article>
                <header>
                    <h1>{{ self.title() }}</h1>
                    {% if date %}
                    <time>{{ date }}</time>
                    {% endif %}
                </header>

                {% block content %}{% endblock %}

                <footer>
                    </p>Follow me on <a href='https://github.com/IMOKURI'>GitHub</a></p>
                </footer>
            </article>
        </main>
    </body>
</html>
